@using Movie.Model.ChargeCard;
@using Movie.Common.Utils
@{
    ViewBag.Title = "Add";
    Layout = null;
    CustomChargeCardsModel showModel = ViewBag.model == null ? new CustomChargeCardsModel() : (CustomChargeCardsModel)ViewBag.model;
    List<TreeSelect> treeSelects = (List<TreeSelect>)ViewBag.selectTrees;
}
<link href="~/Plugins/layui/css/layui.css" rel="stylesheet" type="text/css" />
<script src="~/Plugins/layui/layui.js" type="text/javascript"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<form class="layui-form" action="" lay-filter="example">
<div class="layui-form-item" style="display: none;">
    <label class="layui-form-label">
        Id</label>
    <div class="layui-input-block">
        <input type="text" name="ID"  autocomplete="off" placeholder="" value="@showModel.ID"
            class="layui-input">
    </div>
</div> 
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        卡类型</label>
    <div class="layui-input-inline">
         <select name="TicketTypeId" lay-filter="aihao">
        <option value=""></option> 
        @foreach (var item in treeSelects)
        {
        <option value="@item.value"  @(item.id == @showModel.TicketTypeID ? "selected" : "") >@item.name</option> 
        }
      </select>
    </div>
    <div class="layui-form-mid layui-word-aux">
        请选择卡类型</div>
</div>  
<div class="layui-form-item" lay-filter="">
    <label class="layui-form-label">
        排序</label>
    <div class="layui-input-inline">
        <input type="text" name="Sort"  autocomplete="off"
            placeholder="请输入" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">
        越大越靠前</div>
</div> 
<div class="layui-form-item">
    <label class="layui-form-label">
        启用</label>
    <div class="layui-input-block">
        <input type="radio" name="IsEnable" value="0" title="否">
        <input type="radio" name="IsEnable" value="1" title="是" checked="">
    </div>
</div> 
<div class="layui-form-item layui-hide">
    <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit"
        value="确认添加">
    <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit"
        value="确认编辑">
</div>
</form>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
  , layer = layui.layer
  , layedit = layui.layedit
  , admin = layui.admin
  , laydate = layui.laydate;

        //自定义验证规则
        form.verify({
            CustomChargeCardName: function (value) {
                if (value.length < 2) {
                    return '凭据类型至少2个字符';
                }
            }
    , content: function (value) {
        layedit.sync(editIndex);
    }
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });


        //监听提交
        form.on('submit(layuiadmin-app-form-submit)', function (data) {
            var field = data.field; //获取提交的字段

            PostData(field);
            return false;
        });

        function PostData(data) {
            $.ajax({
                type: 'POST',
                url: "/Admin/ChargeCard/Save", // ajax请求路径
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
                        var index = 1;
                        //提交 Ajax 成功后，关闭当前弹层并重载表格
                        //$.ajax({});
                        parent.layui.table.reload('idTest'); //重载表格    
                        layer.msg('操作成功');
                        parent.layer.close(index); //再执行关闭 
                    }
                    else {
                        layer.tips("操作不成功", obj.othis);
                    }
                }
            });
        };


        //表单初始赋值
        form.val('example', {
            "CustomId": "@showModel.CustomId"
            , "Sort": "@showModel.Sort"
            , "IsEnable": true //开关状态 
        })


    }); 
     
</script>
